<header class="header">
  <img class="header--logo" aria-hidden="true" 
    alt="Logo Pokedéx" src="https://cdn.icon-icons.com/icons2/851/PNG/128/poke_trainer_three_star_icon-icons.com_67512.png" />
  <h1 class="header--title"> Pokedéx </h1>
  <nav class="header--nav">
    <ul class="header--nav__menu">
      <li class="header--nav__menu-element"><a class="header--nav__menu-element-link"href="#">Lista de Pokemons</a></li>
      <li class="header--nav__menu-element"><a class="header--nav__menu-element-link" href="#">Crie o Seu</a></li>
    </ul>
  </nav>
</header>